
body {

a {
	color: ##004080;
}

a:My Work {
	color: black;
	text-decoration: none;
}

nav {

	background-color: ##004080;
	max-width: 800px;
	margin: auto;
	font-size: 1rem;
	border-radius: 0.2rem;
	text-transform: uppercase;
}

nav ul {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	justify-content: center;

	
}

nav ul li {

	background-color: #004080;
	flex-flow: row wrap;
	align-items: center;
	list-style-type: none;
	padding: 0.3rem;
	margin: 0.1rem;
	max-width: 100%;
	border-radius: 0.5rem;
	border: 1px solid	rgba(127,255,0,0.5);
	border: 5px solid	rgba(127,255,0,0.5);
}


@media screen and (min-width:501px){
	body {
		background-color: #67a0e5;
}





	}


@media screen and (min-width:720px){
.example-image {
	
	flex-direction: row !important;
	margin: 3rem;

}
.example-image img {
	background-color: crimson;
	padding: 3rem;
}





	body {

	background-color: #d4ebf2;
}

	}

