
body {

a {
	color: #d4ebf2;
}

a:My Work {
	color: black;
	text-decoration: none;
}

nav {

	background-color: #e8d8c3;
	max-width: 800px;
	margin: auto;
	font-size: 1rem;
	border-radius: 0.2rem;
	text-transform: uppercase;
}

nav ul {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	justify-content: center;

	
}

nav ul li {

	background-color: whitesmoke;
	flex-flow: row wrap;
	align-items: center;
	list-style-type: none;
	padding: 0.3rem;
	margin: 0.1rem;
	max-width: 100%;
	border-radius: 0.5rem;
	border: 1px solid	rgba(127,255,0,0.5);
	border: 5px solid	rgba(127,255,0,0.5);
}

nav ul li a {
	font-family: 'Solway', serif;
/*	font-family: "Pixelify Sans", sans-serif;*/
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;

	text-decoration: none;
	color: forestgreen;
}

nav ul li a:visited {
/*	text-decoration: none;*/
	color: forestgreen;
}

nav ul li a:hover {
	text-decoration: ;
	color: blue;
}

a:hover {

}


main {
	max-width: 800px;
	margin: auto;
	font-size: 1.4rem;
}


p {
	font-family: 'Noto Sans', sans-serif;
	font-size: 1rem;
}

.squirrel {
	background-image: ;
	font-size: 1.4rem;
	
}

.example-square {
	background-color: lightgray;
	border: 5px solid rgba(95, 63, 158, 0.5);
	padding: 5px;
	margin: 5px;
	border-radius: 30%;
}

img {
		align-items: center;
		width: 100%;
	}


.flex-example {
	display: flex;

}

.flex-example-space {
	margin:1rem;
}


.flex-example2 {
	
}

.blue {
	
	
	width: 300px;
	background-color: blueviolet;
	padding: 1rem;
}


.red {
	width: 300px;
	background-color: crimson;
	padding: 1rem;
}

.green {
	width: 300px;
	background-color: greenyellow;
	padding: 1rem;
}

.teal {
	width: 300px;
	background-color: teal;
	padding: 1rem;
}


footer {
	font-family: 'Playfair Display', serif;
	font-weight: 100;
	color: seagreen;
/*	background-color: whitesmoke;*/
	max-width: 800px;
	margin: auto;
	

}

h1 {
	font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
	margin: 1rem;
	margin-left: -5rem;
	color: #434343;
/*	text-decoration: line-through;*/
/*	text-transform: uppercase;*/
}


@media screen and (min-width:501px){
	body {
		background-color: #67a0e5;
}





	}


@media screen and (min-width:720px){
.example-image {
	
	flex-direction: row !important;
	margin: 3rem;

}
.example-image img {
	background-color: crimson;
	padding: 3rem;
}





	body {

	background-color: #d4ebf2;
}

	}

