
body {
	}

a {
	color: grey;
}

a: Home {
	color: grey;
	text-decoration: none;
}

a: MU Journalism Site {
	color: grey;
	text-decoration: none;
}

nav {

	background-color: #f9e9de;
	max-width: 800px;
	margin: auto;
	font-size: 1rem;
	border-radius: 0.2rem;
	text-transform: uppercase;
}

nav ul {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	justify-content: right;

	
}

nav ul li a: Video Samples{

	background-color: #f9e9de;
	flex-flow: row wrap;
	align-items: stretch;
	list-style-type: none;
	padding: 0.3rem;
	margin: 0.1rem;
	max-width: 100%;
	border-radius: 0.5rem;
	border: 1px solid	rgba(127,255,0,0.5);
	border: 5px solid	rgba(127,255,0,0.5);
}

nav ul li a: Writing Samples{
	font-family: 'Solway', serif;
/*	font-family: "Pixelify Sans", sans-serif;*/
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;

	text-decoration: none;
	color: forestgreen;
}

nav ul li a: Photography Portfolio {
/*	text-decoration: none;*/
	color: forestgreen;
}

nav ul li a: Graphic Design Samples {
	text-decoration: ;
	color: blue;
}

main {
	max-width: auto;
	margin: auto;
	font-size: 1.4rem;
	background-color: #9fb6c3;
}


footer {
	/*font-family: 'Playfair Display', serif;
	font-weight: 100;*/
	color: seagreen;
	background-color: #f9b49b;
	max-width: auto;
	margin: auto;
}

h1 {
	/*font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;*/
  font-weight: 600;
  font-style: normal;
	margin: 1rem;
	margin-left: 1rem;
	color: #cc6c5c;
/*	text-decoration: line-through;*/
/*	text-transform: uppercase;*/
}
