.skip-link {
  position: absolute;
  top: -3em;
  background:#fff;
}

.skip-link:focus {
  top: 0;
}

/*.anchor-nav {
	display: flex;
	position: sticky;
	top: 10px;
	justify-content: space-evenly;
	width: 80%;
	background-color: teal;
	margin: auto;
	padding: 0.5rem;
	color: #FFE3AA;
	text-transform: uppercase;
	border-radius: 1rem;
	align-content: center;

}*/

.border-example {
	margin:auto;
	max-width: 100;
	padding: ;
	border-radius: ;
		border: 1px solid;
		border: none;
}
/*.anchor-nav a {
	color: #ffe3aa;
}*/


body {
	background-color: #9fb6c3;
	}

.flexible {
	display: flex;
	flex-direction: column;
}
.flex1 {
	display: flex;
	flex-flow: column wrap;
}

img{
  padding: 1rem;
  width: 600px;
}

a {
	color: navy;
}

/*a: Home {
	color: grey;
	text-decoration: none;
}*/

nav {
	font-family: "Merriweather", serif;
  	font-weight: 300;
  	font-style: normal;
	background-color: #f9e9de;
	max-width: 3000px;
	margin: auto;
	font-size: 1rem;
	border-radius: 0.1rem;
	text-transform: uppercase;]
	text-decoration: none;
	align-content: center;
}

nav a {
	padding: 1rem;
	text-decoration: none;



}

.picture-centered-text {
	display: flex;
	flex-direction: column;

/*	background-color: orangered;*/
	border-radius: .5rem;
}

.picture-centered-text p {
	margin: auto;
	font-size: 1rem;
	padding: 1rem;
	
}

.picture-centered-text a {
	display: flex;
	flex-direction: column;
	
	justify-content: space-around;
	margin: auto;
}

.picture-centered-text a img {

  margin: auto;
	max-width: 90%;

}
.centered-text {
	display: flex;
	flex-direction: column;
}

.centered-text p {
	max-width: 600px;
	margin: auto;
}

.centered-text h1 {
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.centered-text h2 {
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 1rem;
} 

.centered-text ul {
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 1rem;
}


p {
font-family: "Work Sans", sans-serif;
padding: 0.2rem;

}
/*
.gallery {

}

button_next {

}

button_previous{


stepper {

}

.button-start {

}

.gallery-image {
	width: 80%;
}

.gallery-image img {
	width: 100%;
}

.hideThis {
		display: none;
}

.example-image {
	display: flex;
	flex-direction: column;
	margin: 3rem;

}

.example-image img {
	display: flex;
  	max-width:230px;
  	max-height:95px;
 	width: auto;
  	height: auto;
  	margin: 1rem;
}*/

.gallery-example {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

/*.organgesticky*/



.button_holder {
	display: flex;
	flex-direction: row;
}

button_next {  }
button_previous {  }

.stepper {  }

button {
	background-color: #cc6c5c;
	margin: auto;
	padding: 1rem;
	min-width: 10rem;
	font-size: 1.2rem;
	border-radius: 0.5rem;
}

.button-start {
/*	background-color: forestgreen;*/
}

.gallery-image {
	max-width: 80%;
	
}

.gallery-image img {
	width: 100%;
/*	max-height: 500px;*/
}

.hideThis {
	display: none;
}

example-image {
	display: flex;
	flex-direction: column;
	margin: 3rem;

}

.example-image img {
	display: flex;
  	max-width:230px;
  	max-height:95px;
 	width: auto;
  	height: auto;
  	margin: 1rem;
}

.listings2 {
	display: flex;
	flex-wrap: wrap;
}

/*

End of gallery images*/


main {
/*	margin: auto;*/
		font-size: 1.5rem;
		font-family: "Work Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 400px;
  	font-style: normal;
  	justify-content: center;
  	align-content: center;
  	width: 100%;
}

footer {
	font-family: 'Playfair Display', serif;
	font-weight: 300;
	color: white;
/*	background-color: ;*/
	max-width: 100%;
	margin: auto;
	align-content: center;
}

footer p {
	margin: auto;
}

h1 {
	/*font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;*/
  font-family: "Libre Baskerville", serif;
  font-weight: 800px;
  font-style: normal;
  font-size: 3rem;
	margin: 5rem;
	margin-left: 2rem;
	color: #cc6c5c;
	align-content: center;

/*	text-decoration: line-through;*/
/*	text-transform: uppercase;*/
}

h2 {
	/*font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;*/
	font-family: "Libre Baskerville", serif;
  	font-weight: 400;
  	font-style: normal;
	margin: 2rem;
	margin-left: 2rem;
	color: #cc6c5c;
		align-content: center;

/*	text-decoration: line-through;*/
/*	text-transform: uppercase;*/
}

nav ul {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	align-content: center;


	
}

nav ul li a:  Samples{

	/*background-color: #f9e9de;
	flex-flow: row wrap;
	align-items: stretch;
	list-style-type: none;
	padding: 0.3rem;
	margin: 0.1rem;
	max-width: 100%;
	border-radius: 0.5rem;
	border: 1px solid	rgba(127,255,0,0.5);
	border: 5px solid	rgba(127,255,0,0.5);*/
	text-decoration: none;
	color: #cc6c5c;
	align-content: center;

}

nav ul li a: Writing Samples{
	font-family: "Roboto Mono", monospace;
  	font-optical-sizing: auto;
  	font-weight: 700rem;
  	font-style: normal;
	/*font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;*/

	text-decoration: none;
	color: #cc6c5c;
	align-content: center;

}

nav ul li a: Photography Portfolio {
	text-decoration: none;
	color: #cc6c5c;
	align-content: center;

}

nav ul li a: Graphic Design Samples {
	text-decoration: none;
	color: #cc6c5c;
	align-content: center;

}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


@media screen and (max-width: 500px) {

body {
	background-color: #9fb6c3;
}

main {
  width: 100%;
  max-width: 100%;
  background: #FFF;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  margin: 1rem auto;
}
.list-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.list-image {
	margin: auto;
	image-size: 10px;

}
img {
/*	display: flex;*/
  max-width: 100%;
}

.gallery-section { 
	background-color: white;
/*	padding-top: 0.2rem;*/
/*	border-radius: 0.5rem;*/
 }

.gallery-example {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	align-items: center;
	
}


.gallery-descrip {
	
}

.gallery-descrip h1 {
	color:#cc6c5c;
	font-size: 3rem;

}

.gallery-descrip p {
	padding: 2rem;

}

figcaption {
	color: black;
}


/*.orange-sticky {
	position: sticky;
	top: 5rem;
	width: 300px;
	background-color: darkorange;
	padding: 1rem;

}*/




.button_holder {
	
	display: flex;
	flex-direction: row;
	color: #fff;
}

button_next {  }
button_previous {  }

stepper { 
	
 }



button {
	background-color: #cc6c5c;
/*	margin: 1rem;*/
/*	padding: 1rem;*/
	min-width: 10rem;
	font-size: 1.2rem;
	border-radius: 0.5rem;
}

.button-start {
/*	background-color: forestgreen;*/
}

.gallery-image {
	max-width: 80%;
	

}

.gallery-image img {
	width: 100%;
/*	max-height: 500px;*/
}

.hideThis {
	display: none;
}

example-image {
	display: flex;
	flex-direction: column;
	margin: 3rem;

}

.example-image img {
	display: flex;
  	max-width:230px;
  	max-height:95px;
 		width: auto;
  	height: auto;
  	margin: 1rem;
}



.flex-example {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;



}

.flex-example-space {
	margin:1rem;
}


.flex-example2 {
	
}
}

footer {
	font-family: 'Playfair Display', serif;
	font-weight: 300;
	color: white;
/*	background-color: ;*/
	max-width: 100%;
	margin: auto;
	align-content: center;
}

footer p {
	margin: auto;
}

@media screen and (min-width: 501px) {

body {
	background-color: red;
}

main {
  width: 100%;
  max-width: 1000px;
  background: #FFF;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
/*  margin: 1rem auto;*/
}

.list-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.list-image {
	margin: auto;
	image-size: 200px;

}

p {
	font-family: "Work Sans", sans-serif;
	padding: 0.2rem;
}

img {
	display: flex;

}
}

@media screen and (min-width: 720px) {

.example-image {
	
	flex-direction: row !important;
	margin: 3rem;

}
.example-image img {
	background-color: crimson;
	padding: 3rem;
}

body {
	background-color: #9fb6c3;
}

main {
  width: 100%;
  max-width: 1000px;
  background: #FFF;
  border-radius: 1rem;
  padding: 1rem 5.5rem;
  box-sizing: border-box;
  margin: 1rem auto;
}
.list-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	image-size: 50%;
}

.list-image {
	margin: auto;
	image-size: 50%;
}

img {
	display: flex;
	image-size: 10px;

}

}


