
.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

.skip-link:focus{
  width: unset;
  height: unset;
  position: relative;
  padding: unset;
  margin: unset;
  font-size: 2rem;
}

.anchor-nav {
	display: flex;
	position: sticky;
	top: 10px;
	justify-content: space-evenly;
	width: 80%;
	background-color: teal;
	margin: auto;
	padding: 0.5rem;
	color: #FFE3AA;
	text-transform: uppercase;
	border-radius: 1rem;

}

.anchor-nav a {
	color: #ffe3aa;
}


body {
	background-color: #9fb6c3;
	overflow: scroll;
}

./*flexible {
	display: flex;
	flex-direction: column;
}
.flex1 {
	display: flex;
	flex-flow: column wrap;
}*/

img{
  padding: 2rem;
  width: 3rem;
}

a {
	color: navy;
}

a: Home {
	color: grey;
	text-decoration: none;
}

a: MU Journalism Site {
	color: grey;
	text-decoration: none;
}

nav {
	font-family: "Merriweather", serif;
  	font-weight: 300;
  	font-style: normal;
	background-color: #f9e9de;
	max-width: 3000px;
	margin: auto;
	font-size: 1rem;
	border-radius: 0.1rem;
	text-transform: uppercase;]
	text-decoration: none;
	align-content: center;
}

nav a {
	padding: 1rem;
	text-decoration: none;



}

nav ul {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	justify-content: right;

	
}

.picture-centered-text {
	display: flex;
	flex-direction: column;

/*	background-color: orangered;*/
	border-radius: .5rem;
}

.picture-centered-text p {
	margin: auto;
	font-size: 1rem;
	padding: 1rem;
	
}

.picture-centered-text a {
	display: flex;
	flex-direction: column;
	
	justify-content: space-around;
	margin: auto;
}

.picture-centered-text a img {

  margin: auto;
	max-width: 300px;
	
}
.centered-text {
	display: flex;
	flex-direction: column;
}

.centered-text p {
	max-width: 600px;
	margin: auto;
}

.centered-text h1 {
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.centered-text h2 {
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 1rem;
} 

.centered-text ul {
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

p {
font-family: "Work Sans", sans-serif;
padding: 0.2rem;

}

main {
/*	margin: auto;*/
	font-size: 1.5rem;
	font-family: "Work Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 400px;
  	font-style: normal;
  	justify-content: center;
  	align-content: center;
}

footer {
	font-family: 'Playfair Display', serif;
	font-weight: 100;
	color: seagreen;
	background-color: white;
	max-width: auto;
/*	margin: auto;*/
	align-content: center;

}
footer p {
	margin: auto;
}

h1 {
	/*font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;*/
  font-family: "Libre Baskerville", serif;
  font-weight: 800px;
  font-style: normal;
  font-size: 3rem;
	margin: 5rem;
	margin-left: 2rem;
	color: #cc6c5c;
	align-content: center;

/*	text-decoration: line-through;*/
/*	text-transform: uppercase;*/
}

h2 {
	/*font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;*/
	font-family: "Libre Baskerville", serif;
  	font-weight: 400;
  	font-style: normal;
	margin: 2rem;
	margin-left: 2rem;
	color: #cc6c5c;
		align-content: center;

/*	text-decoration: line-through;*/
/*	text-transform: uppercase;*/
}

nav ul {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	
}

nav ul li a: Video Samples{

	/*background-color: #f9e9de;
	flex-flow: row wrap;
	align-items: stretch;
	list-style-type: none;
	padding: 0.3rem;
	margin: 0.1rem;
	max-width: 100%;
	border-radius: 0.5rem;
	border: 1px solid	rgba(127,255,0,0.5);
	border: 5px solid	rgba(127,255,0,0.5);*/
	text-decoration: none;
	color: #cc6c5c;
	align-content: center;

}

nav ul li a: Writing Samples{
	font-family: "Roboto Mono", monospace;
  	font-optical-sizing: auto;
  	font-weight: 700rem;
  	font-style: normal;
	/*font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;*/

	text-decoration: none;
	color: #cc6c5c;
	align-content: center;

}

nav ul li a: Photography Portfolio {
	text-decoration: none;
	color: #cc6c5c;
	align-content: center;

}

nav ul li a: Graphic Design Samples {
	text-decoration: none;
	color: #cc6c5c;
	align-content: center;

}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

@media screen and (max-width: 500px) {

body {
	background-color: red;
}

main {
  width: 100%;
  max-width: 1000px;
  background: #FFF;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  margin: 1rem auto;
}

.list-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.list-image {
	margin: auto;
	image-size: 200px;

}

img {
	display: flex;

}

}


@media screen and (min-width: 501px) {
body {
	background-color: blue;
}

main {
  width: 100%;
  max-width: 1000px;
  background: #FFF;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  margin: 1rem auto;
}

}

@media screen and (min-width: 720px) {

.example-image {
	
	flex-direction: row !important;
	margin: 3rem;

}
.example-image img {
	background-color: crimson;
	padding: 300px;
}
	body {
	background-color: goldenrod;

}

main {
  width: 100%;
  max-width: 1000px;
  background: #FFF;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  margin: 1rem auto;
}

.list-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.list-image {
	margin: auto;
	image-size: 200px;

}

img {
	display: flex;

}

}
